body{
  background-color: darkgray;
}

.currencies{
  width: 400px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.bgActive > svg{
  color: green;
}

.bgVniz > svg{
  color: red;
}

.categ{
  width: 100%;
  display: flex;
  justify-content:space-around;
}

.hg{
  cursor: pointer;
}